header {
   min-height: 100px;
   background-color: blueviolet;
}

.logo {
    color: white;
    padding: 30px;
    font-size: 40px;
}

main h1 {
    padding: 30px;
}

.product-list {
    list-style-type: none; 
}

.product-list-element img {
    max-height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}